.label{
  display:flex;
  flex-grow: 1;
}

.tag-name{
  flex-grow: 1;
  box-sizing: border-box;
  padding-left: 8px;
}

.label.indent-left .tag-name{
  padding-left: 18px;
}

.label.indent-right .tag-name{
  padding-right: 10px;
}

.tag-count{
  box-sizing: border-box;
  width: 45px;
  padding: 0 15px;
  font-size: 12px;
  text-align: right;
}
