@import '../../../../assets/stylesheets/variables';

.arrow-cover{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $theme-background-color;
  border-radius: inherit;
  color: $theme-font-color;
  z-index: 1;
}
