@import '../../../../assets/stylesheets/variables';

$content-width: 400px;
$arrow-width: 14px;

.popup-container{
  display:flex;
  align-items: center;
  position: absolute;
  top: 50%;
  background-color: white;
  box-shadow: $outer-box-shadow;
  border-radius: $theme-border-radius;
  transform: translateY(-50%);
  z-index: $summary-popup-contracted-z-index;
/*  transition: left $popup-expand-contract-time, width $popup-expand-contract-time, height $popup-expand-contract-time;*/
}

.popup-container.expanded-z{
  z-index: $summary-popup-expanded-z-index;
}
