@import '../../../../assets/stylesheets/variables';

$contracted-width: 400px;
$arrow-width: 15px;
$margin: 15px;

.popup{
  /*display:flex;
  align-items: center;*/
  position: absolute;
  top: 50%;
  width: $contracted-width;
  height: auto;
  left: $web-map-width / 2 - $contracted-width - $arrow-width;
  background-color: white;
  box-shadow: $outer-box-shadow;
  border-radius: $theme-border-radius;
  transform: translateY(-50%);
  z-index: $summary-popup-contracted-z-index;
}

.popup.expanded{
  left: $margin;
  width: $web-map-width - $margin * 2;
  height: $web-map-height - $margin * 2 !important;
}

.popup.transition-dimensions{
  transition: left $popup-expand-contract-time, width $popup-expand-contract-time, height $popup-expand-contract-time;
}

.popup.expanded-z{
  z-index: $summary-popup-expanded-z-index;
}
