$theme-red: rgb(173,102,102);
$outer-box-shadow: 0px 0px 3px rgba(0,0,0,0.25);
$inner-box-shadow: inset 0px 0px 4px $theme-red;
$theme-border-radius: 5px;
$theme-background-color: white;
$theme-light-gray: #d0d0d0;
$theme-font-color: #333;
$theme-font-size: 14px;
$web-map-widget-padding: 15px;
$theme-font-family: 'Lora', serif;
