@import './_variables';

#root .popup-report-container{
  z-index: 2;
}

#root .report-window{
  border-radius: $theme-border-radius;
}

#root .report-window.expanded{
  box-shadow: $outer-box-shadow;
}
