@import './_variables';

$content-width: 400px;
$arrow-width: 14px;

.summary-window{
  display:flex;
  align-items: center;
  position: absolute;
  left: $web-map-width/2 - $popup-margin - $content-width - $arrow-width;
  border-radius: inherit;
  z-index: $summary-popup-contracted-z-index;
}

.summary-window.expanded{
  z-index: $summary-popup-expanded-z-index;
}

.popup-body{
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: $outer-box-shadow;
  border-radius: inherit;
  color: $theme-font-color;
}

.popup-body::after{
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: $theme-background-color;
  z-index: 2;
  border-radius: inherit;
}

.arrow{
  position: relative;
  width: $arrow-width;
  height: 20px;
}

.arrow::after{
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  transform: translateX(-50%) rotateX(50deg) rotateZ(45deg);
  box-shadow: $outer-box-shadow;
  background-color: $theme-background-color;
  z-index: 1;
}

.summary-window.expanded .arrow{
  display:none;
}
