@import './_variables';

#webmap{
  width: 1024px;
  height: 512px;
  box-shadow: 0px 0px 5px #444444;
  font-family: 'Lora', serif;
  background-color: white;
  z-index: 0;
}

#webmap .zoom-controls{
  top: $web-map-widget-padding;
  right: $web-map-widget-padding;
}

#webmap .zoom-button-container{
  box-shadow: $outer-box-shadow;
  border-radius: $theme-border-radius;
}

#webmap .zoom-in{
  border-bottom-color: $theme-light-gray;
}

#webmap .zoom-button{
  color: $theme-font-color;
}

#webmap .zoom-button:hover{
  box-shadow: $inner-box-shadow;
}

#webmap .popup-container{
  top: $web-map-widget-padding;
  right: $web-map-widget-padding;
  bottom: $web-map-widget-padding;
  left: $web-map-widget-padding;
}

#webmap .content-container{
  box-shadow: $outer-box-shadow;
  border-radius: $theme-border-radius;
}

#webmap .summary-content{
  color: $theme-font-color;
}

#webmap .arrow::after{
  box-shadow: $outer-box-shadow;
  background-color: $theme-background-color;
}

#webmap .project-title{
  font-size: $theme-font-size;
}

#webmap .popup-report{
  box-shadow: $outer-box-shadow;
  border-radius: $theme-border-radius;
  color: $theme-font-color;
}

#webmap .graphic-location{
  box-shadow: $outer-box-shadow;
}
