@import './_variables';

#root .select-menu{
  top: $web-map-widget-padding;
  left: $web-map-widget-padding;
  box-shadow: $outer-box-shadow;
  font-size: $theme-font-size;
  color: $theme-font-color;
}

#root .option:hover{
  box-shadow: $inner-box-shadow;
}

#root .icon-container.border{
  border-color: $theme-light-gray;
}

#root .zoom-controls{
  top: $web-map-widget-padding;
  right: $web-map-widget-padding;
}

#root .zoom-button-container{
  box-shadow: $outer-box-shadow;
  border-radius: $theme-border-radius;
}

#root .zoom-in{
  border-bottom-color: $theme-light-gray;
}

#root .zoom-button{
  color: $theme-font-color;
}

#root .zoom-button:hover{
  box-shadow: $inner-box-shadow;
}

#root .popup{
  border-radius: $theme-border-radius;
  color: $theme-font-color;
}

#root .content-container{
  box-shadow: $outer-box-shadow;
}

#root .arrow::after{
  box-shadow: $outer-box-shadow;
  background-color: $theme-background-color;
}

#root .project-title{
  font-size: $theme-font-size;
}

#root .graphic-location{
  box-shadow: $outer-box-shadow;
}
