.tag-name{
  flex-grow: 1;
  box-sizing: border-box;
  padding-left: 8px;
  padding-right: 0px;
}

.tag-name.indent-visible{
  padding-left: 18px;
}

.tag-name.indent-hidden{
  padding-right: 10px;
}
