@import '../../../../assets/stylesheets/variables';

.icon-container{
  box-sizing: border-box;
  width: 30px;
  padding: 0 5px 0 10px;
  border: 0;
  text-align: center;
}

.icon-container.border{
  border-right: 1px solid $theme-light-gray;
}
