@import '../../../../assets/stylesheets/variables';

.zoom-button.zoom-in{
  margin-top: 12px;
  border-bottom: 1px solid $theme-light-gray;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
