@import '../../../../assets/stylesheets/variables';
@import '../../../../assets/stylesheets/mixins';

.zoom-button{
  @include user-select(none);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  color: $theme-font-color;
  border-radius: inherit;
}

.zoom-button.active{
  background-color: rgba(134,38,51, 0.85);
}

.zoom-button:hover{
  box-shadow: $inner-box-shadow;
}

.zoom-button.zoom-home{
  border-radius: inherit;
}

.zoom-button.zoom-in{
  margin-top: 12px;
  border-bottom: 1px solid $theme-light-gray;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.zoom-button.zoom-out{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
