@import './_popup_report_variables';

.report-window{
  position: absolute;
  border-radius: inherit;
  background-color: white;
  visibility: visible;
  opacity: 0;
}

.report-window.transition-opacity{
  transition: opacity $transition-duration;
}

.report-window.transition-dimensions{
  transition: left $transition-duration,
              top $transition-duration,
              width $transition-duration,
              height $transition-duration;
}
