@import '../../../../assets/stylesheets/variables';

.popup-body{
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: $outer-box-shadow;
  border-radius: inherit;
  color: $theme-font-color;
}

.popup-body::after{
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: $theme-background-color;
  z-index: 2;
  border-radius: inherit;
}
