@import '../../../../assets/stylesheets/variables';

$content-width: 380px;

.summary-content{
  width: $content-width;
  position:relative;
  border-radius: inherit;
  z-index: 3;
  height: 150px;
  font-size: 12px;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  animation-duration: 0.5s;
}
