@import '../../../../assets/stylesheets/variables';

$content-width: 400px;
$arrow-width: 14px;

.summary-window{
  display:flex;
  align-items: center;
  position: absolute;
  left: $web-map-width/2 - $popup-margin - $content-width - $arrow-width;
  border-radius: inherit;
  max-width: $web-map-width - $popup-margin * 2;
  max-height: $web-map-height - $popup-margin * 2;
  z-index: $summary-popup-contracted-z-index;
  transition: left $popup-expand-contract-time, width $popup-expand-contract-time, height $popup-expand-contract-time;
}

.summary-window.expanded{
  z-index: $summary-popup-expanded-z-index;
}
