@import '../../../../assets/stylesheets/variables';

.summary-fade-container{
  border-radius: inherit;
  background-color: $theme-background-color;
  background-color:blue;
  animation-duration: 2.5s;
}

.summary-fade-container.fade-out{
  animation-name: fade-out1;
}

@keyframes fade-out1 {
  0%   {opacity:0.5}
  100% {opacity:0.5}
}
