@import '../../../../assets/stylesheets/variables';

.report-window{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: $theme-background-color;
  z-index: $report-popup-z-index;
}
