@import '../../../../assets/stylesheets/variables';
@import '../../../../assets/stylesheets/mixins';

.graphic{
  @include user-select(none);
  position: absolute;
  background-color: rgba(134,38,51, 0.85);
  box-shadow: $outer-box-shadow;
  border-radius: 50%;
  cursor:pointer;
  z-index: -1;
}

.graphic:hover{
  background-color: #483D8B;
}

.graphic.highlight{
  background-color: #483D8B;
}
