@import '../../../../assets/stylesheets/variables';
@import '../../../../assets/stylesheets/fade_in_out';

$loader-fade-in-out-time: 0.75s;

.loader-background{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: $theme-background-color;
  border-radius: inherit;
  z-index: $loader-z-index;
  animation-duration: $loader-fade-in-out-time;
}
