$web-map-width: 1024px;
$web-map-height: 512px;
$popup-margin: 10px;

$theme-red: rgb(173,102,102);
$outer-box-shadow: 0px 0px 3px rgba(0,0,0,0.25);
$inner-box-shadow: inset 0px 0px 4px $theme-red;
$option-height: 25px;
$theme-border-radius: 5px;
$theme-background-color: white;
$theme-light-gray: #d0d0d0;
$theme-font-color: #333;
$theme-font-size: 14px;
$select-menu-total-animation-time: 1s;
$popup-expand-contract-time: 0.75s;
$popup-fade-in-out-time: 0.5s;
$web-map-widget-padding: 15px;
$basemap-layer-z-index: 1;
$graphics-layer-z-index: 2;
$summary-popup-contracted-z-index: 3;
$zoom-controls-z-index: 4;
$select-menu-z-index: 5;
$summary-popup-expanded-z-index: 6;
$report-popup-z-index: 7;
$loader-z-index: 8;
