@import './_variables';
@import './_mixins';

.basemap-layer{
  @include user-select(none);
  animation-duration: 0.5s;
}

.tile-container{
  position:relative;
  animation-duration: 0.4s;
}

.tile-container:first-child{
  z-index:1;
}

.tile-container:last-child{
  z-index:0;
}
