@import './_variables';
@import './_mixins';

.graphic{
  display: flex;
  @include user-select(none);
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgba(134,38,51, 0.85);
  box-shadow: $outer-box-shadow;
  border-radius: 50%;
  color:white;
  font-size: 12px;
  text-align:center;
  cursor:pointer;
}

.graphic:hover{
  background-color: #483D8B;
}

.site-point.prev-cluster{
  background-color: #483D8B;
}
