@import './_variables';

#root{
  position: relative;
  width: $web-map-width;
  height: $web-map-height;
  box-shadow: 0px 0px 5px #444444;
  font-family: 'Lora', serif;
  background-color:green;
  overflow:hidden;
}
