@import './_mixins';
@import './_variables';

.select-menu-container{
  cursor:default;
  @include user-select(none);
  position: absolute;
  top: $web-map-widget-padding;
  left: $web-map-widget-padding;
  background-color: $theme-background-color;
  box-shadow: $outer-box-shadow;
  border-radius: $theme-border-radius;
  font-size: $theme-font-size;
  color: $theme-font-color;
  min-height: $option-height;
  min-width: 100px;
  z-index: $select-menu-z-index;
}

.select-menu-container.rounded{
  border-radius: ($option-height / 2);
}

/*.select-menu.disabled * {
  cursor:wait !important;
}*/
